<div class="games-container">
  <div class="games-header">
    <h2>All Games</h2>
    @if (authService.hasRole('Admin')) {
      <button (click)="routeToNewGame()">
        <ng-icon name="octPlus" size="24px"></ng-icon>
        New game
      </button>
    }
  </div>

  @if (searchQuery()) {
    <p>Showing results for: <strong>{{ searchQuery() }}</strong></p>
  }

  <div class="games-grid">
    @for (game of filteredGames(); track game.id) {
      <app-game-card [game]="game" (click)="viewGame(game.id)"></app-game-card>
    } @empty {
      <p>No games found.</p>
    }
  </div>
</div>
